* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "B612", sans-serif;
    background-color: #e6e3ca;
    color: #333;
    font-size: 16px;
}

.hide {
    display: none !important;
}

.back {
    margin-top: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    align-self: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

h3 {
    width: 100%;
    text-align: center;
    color: rgb(131, 63, 63);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.following {
    width: 100%;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.following-user {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    min-width: 300px;
}

.following-user h2 {
    padding: 0.5em 1em;
}

.following-user h2:hover {
    cursor: pointer;
    transform: scale(0.98);
    background-color: #e6d3d3;
}

.following-user figure {
    width: 60%;
}

.following-user figure img {
    border-radius: 100%;
    border: 5px solid #8a0e12;

}

.user-info img {
    border-radius: 100%;
}

.filter-repos {
    margin-top: 1em;
    padding: 0.5em;
}

.button-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.discover {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.repo-list div {
    display: flex;
    flex-wrap: wrap;

}

.repo-list-owner {
    max-width: 350px;
}

.repo-list p {
    margin: 0.5em 0;
}

.repo-list .repo {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border: 1px solid maroon;
}

.extra-info p {
    width: 100%;
}

.repo-list h3 {
    text-align: left;
    padding: 1em 0;
    margin: 0;
}


.repo-list .visit {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    margin-top: 0.5em;
    cursor: pointer;
    display: block;
    background-color: #8a0e12;
    border: 1px solid #8a0e12;
}

.repo-list .visit:hover {
    background-color: #a03038;
    border: 1px solid #ccc;
}

.hide .extra-info {
    display: none;
}

@media (min-width: 800px) {
    .discover {
        justify-content: space-between;
    }

    .repo-list-owner {
        width: 30%;
    }

    .repo-list {
        width: 65%;
    }

    .repo-list .repo {
        width: calc(50% - 2em);
    }
}