* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fbf9de;
    color: #333;
    font-size: 16px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

.view-repos {
    margin-top: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    align-self: center;
    width: 300px;
}

.fa-github-alt {
    color: #f86d58;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    padding: 1em 0.5em;
    margin: 0;
    font-size: 3.5em;
    text-align: center;
    font-family: "Oswald", sans-serif;
    background-color: #483978;
    color: #fff;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.badge {
    height: 80px;
    width: 50px;
    background-color: grey;
    z-index: 98;
    margin-bottom: -35px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #483978;
    border-radius: 100%;
    z-index: 99;
    align-self: center;
    margin-top: auto;
    margin-bottom: 8px;
}

.github-img {
    width: 45px;
    margin-right: 8px;
}

h3 {
    width: 100%;
    text-align: center;
    color: #f86d58;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.intro,
.repos {
    width: 100%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #483978;
    color: white;
    font-size: 18px;
    padding-bottom: 2em;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #9b8dc9;
    padding-bottom: 19px;
}

.filter-repos {
    width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid #483978;
}

section.repo-data {
    background-color: #fff;
    padding: 2em;
    padding-bottom: 1em;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin-top: 0;
    padding: 2em;
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 90%;
    margin: 1em 0;
    border: 1px solid #f86d58;
    padding: 0.5em;
}

.repo-list h3 {
    text-align: left;
    margin: 0;
    padding: 10px;
}

.repo-list h3:hover {
    background-color: #eee9ff;
    cursor: pointer;
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

.repo-data {
    width: 100%;
}

.repo-data h3 {
    text-align: left;
}

.repo-data .visit {
    text-decoration: none;
    max-width: 200px;
    color: #fff;
    padding: 0.75em;
    margin-top: 2em;
    cursor: pointer;
    display: block;
    background-color: #483978;
    border: 1px solid #483978;
}

.repo-data .visit:hover {
    background-color: #2f2550;
    border: 1px solid #ccc;
}

.button-container {
    width: 100%;
    background-color: #fff;
    padding-left: 2em;
    padding-bottom: 2em;
}

.view-repos {
    max-width: 200px;
    margin-top: 0;
}

@media (min-width: 700px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 700px) {
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}