* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "B612", sans-serif;
    background-color: #e6e3ca;
    color: #333;
    font-size: 16px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

.back {
    margin-top: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    align-self: center;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

h3 {
    width: 100%;
    text-align: center;
    color: #833f3f;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.intro,
.repos {
    width: 100%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0.5em 0;
}

.filter-repos {
    width: 300px;
    margin-top: 1em;
    padding: 0.5em;
}

.repos {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 90%;
    margin: 1em 0;
    border: 1px solid #833f3f;
    padding: 0.5em;
}

.repo-list h3 {
    text-align: left;
    padding: 1em 0.5em;
    margin: 0;
}


.repo-list h3:hover {
    background-color: #cdb9a9;
    cursor: pointer;
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

.repo-data {
    width: 100%;
    margin-top: 3em;
}

.repo-data h3 {
    text-align: left;
}

.repo-data .visit {
    text-decoration: none;
    max-width: 200px;
    color: #fff;
    padding: 0.75em;
    margin-top: 2em;
    cursor: pointer;
    display: block;
    background-color: #8a0e12;
    border: 1px solid #8a0e12;
}

.repo-data .visit:hover {
    background-color: #a03038;
    border: 1px solid #ccc;
}

.button-container {
    width: 100%;
}

.back {
    max-width: 200px;
}

@media (min-width: 700px) {

    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}